server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/campusguesssystem?useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss

jwt:
  secret: 89a7b2f8-9c4d-4e8a-9f7b-8d6c7a89b0e189a7b2f8-9c4d-4e8a-9f7b-8d6c7a89b0e189a7b2f8-9c4d-4e8a-9f7b-8d6c7a89b0e1
  expiration: 86400000 # 24小时

logging:
  level:
    com.zsu.planfinder: DEBUG
image:
  host:
    url: https://picui.cn/api/v1
    token: Bearer 2083|KEIbu81Xhll4EprEN0pVGJb02R9dGNYlWKHYpsYr